<header class="row">
    <div class="text-center"><h1>In-Room Shopping</h1></div>
  </header>

  <div class="info row">
    <div class="dropdown col-xs-6">
      <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="languagedropdown" aria-expanded="true ">Language <span class="caret"></span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="languagedropdown">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cantonese</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mandarin</a></li>
        </ul>
      </button>
    </div>
    <div class="col-xs-6"><button class="glyphicon glyphicon-shopping-cart btn" ng-click="switch()"></button></div>
  </div>
