<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Sassy</h1>
    <p>
      Sample mail sent using smtp.
      You're receiving an email sent by yourself via Order Confirmation
    </p>
  </body>
</html>